*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.main-page {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background: #dae8e6;
  color: #fff;
  width: 100%;
  position: relative;
}

.cards-image{
  width:160px;
  border-radius:50%;
  padding:10px;
  border:2px dashed green;
  
}

.character-list li{
  overflow: hidden;
  /* background-color: green; */
}

.character-list li:hover .cards-image{
  transform: scale(3);
  transition: all ease 0.7s;
  border: none;
  margin-top: 0px;
  border-radius: 0%;
}
.character-list li:hover .hover-text{
display: block;
z-index: 1000;
}
.character-list li:hover .card-text{
display: none;
}
.character-list li:hover .card-image-content h3{
  display: none;
}

body h2 {
  font-size: 50px;
  font-weight: 500;
  font-family: "Eater", serif;
  color: #00609d;
  position: sticky;
  top: 0px;
  z-index: 1000;
  transition: color 0.3s ease, background-color 0.3s ease;
}
body h2.change-color {
  color: white;
}
body p {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
}
body h3 {
  font-size: 20px;
  font-weight: 600;
  font-family: "Montserrat Alternates", sans-serif;
}
.home-page {
  padding: 80px 0px;
}
.hidden {
  display: none;
}
.visuallyhidden {
  opacity: 0;
}
.search-input {
  width: 100%;
  max-width: 900px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

input {
  font-family: inherit;
  width: 40%;
  height: 40px;
  padding-left: 0.5rem;
  border-radius: 10px;
  border-style: none;
  background-color: transparent;
  border: 2px solid #00609d;
  color: black;
  font-family: "Creepster", system-ui;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
input::placeholder {
  color: #6d6666;
  font-family: "Creepster", system-ui;
  font-size: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
}
/*******************************************/
.dropdowns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: auto;
  background-color: #60cbee;
  padding: 10px 30px;
}
.drpdown-cntnt h4 {
  font-size: 30px;
  color: #00609d;
  font-family: "Creepster", system-ui;
  font-weight: 500;
}
.dropdowns-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown {
  min-width: 15em;
  position: relative;
  margin: 10px;
  box-sizing: border-box;
}
.select {
  background: #57a2e5;
  color: #00609d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 20px;
  border: 2px solid #00609d;
  cursor: pointer;
  transition: background 0.3s;
  font-family: "Creepster", system-ui;
  letter-spacing: 3px;
}
.select-clicked {
  border: 2px solid #26489a;
  box-shadow: 0 0 0.8em #26489a;
}
.select:hover {
  background-color: #00609d;
  color: #9fcbf1;
}
.select:hover .caret {
  border-top: 6px solid #9fcbf1;
}
.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #00609d;
  transition: 0.3s;
}
.caret-rotate {
  transform: rotate(180deg);
}
.menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background: #57a2e5;
  border-style: none;
  border: 1px solid #00609d;
  border-radius: 0.5em;
  color: #00609d;
  font-family: "Creepster", system-ui;
  letter-spacing: 3px;
  position: absolute;
  top: 3.6em;
  left: 50%;
  width: 100%;
  height: 165px;
  overflow: auto;
  transform: translate(-50%);
  opacity: 0;
  display: none;
  z-index: 1;
}
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #4a4a4a;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
  height: 45px;
  border: none;
}
.menu li:hover {
  background-color: #00609d;
  color: #9fcbf1;
}
.active {
  background-color: #00609d;
  color: #9fcbf1;
}
.menu-open {
  display: block;
  opacity: 1;
}

#resetBtn {
  width: 170px;
  height: 57px;
  background-color: #57a2e5;
  color: #00609d;
  cursor: pointer;
  font-size: 18px;
  margin-left: 0.4rem;
  border-radius: 10px;
  border-style: none;
  border: 2px solid #00609d;
  transition: all ease 0.3s;
  display: flex;
  padding: 15px 15px;
  align-items: center;
  justify-content: center;
  font-family: "Creepster", system-ui;
  font-weight: 500;
  letter-spacing: 3px;
}
#resetBtn:hover {
  background-color: rgb(6, 102, 192);
  color: #9fcbf1;
}

span {
  display: inline-block;
}

/* .dropdown{

} */

.character-list {
  color: white;
  height: auto;
  display: grid;
  margin-inline: auto;
  margin-top: 1rem;
  padding: 1.5rem 1rem;
  border-radius: 10px;
  justify-content: center;
}
ul.character-list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 300px);
  flex-wrap: wrap;
  gap: 35px;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  border: 3px dashed #4800bcb9;
}
li img {
  cursor: pointer;
}

.loading-indicator {
  position: absolute;
  left: 50%;
  top: 13rem;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  border: 4px solid white;
  border-top: 4px solid #0f172a;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pagination {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.paginationUl {
  display: flex;
  gap: 10px;
}
.numb {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: transparent;
  border-style: none;
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 15px;
  font-weight: 600;
}
.numb:hover {
  background-color: #57a2e5;
  color: white;
}
.numb:active {
  background-color: purple;
}
.active {
  background-color: #00609d;
  color: #9fcbf1;
}
.page-arrow {
  width: 60px;
  height: 30px;
  border-radius: 10px;
  background-color: rgb(43, 189, 226);
  border-style: none;
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.page-arrow:hover {
  background-color: rgb(105, 104, 104);
}
.page-arrow:active {
  background-color: purple;
}

.dots {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: transparent;
  border-style: none;
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font: 15px;
  font-weight: 600;
}
.dots:hover {
  background-color: #57a2e5;
  color: white;
}
.dots:active {
  background-color: purple;
}

/* .popup{
  height: 400px;
  padding: 15px;
  width: 300px;
  background-color: #d3b8ff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
/***********************************main page*******************************/

nav {
  height: 80px;
  width: 100%;
  background-color: #57a2e5;
  position: fixed;
  z-index: 1000;
  box-shadow: 3px 3px 15px #1111118f;
}
.navbar {
  padding: 0px 20px;
  display: flex;
  height: 80px;
  width: 100%;
  position: relative;
  justify-content: right;
}
.navbarBtns {
  display: flex;
  align-items: center;
  gap: 10px;
}
#homeBtn {
  width: 110px;
  height: 65px;
  font-family: "Creepster", system-ui;
  font-size: 40px;
  border-radius: 15px;
  border-style: none;
  color: white;
  letter-spacing: 2px;
  transition: all ease 0.5s;
  background-color: #3dc5f1;
}
#homeBtn:hover {
  background-color: #3dc5f1;
  color: white;
}
#characterBtn {
  width: 220px;
  height: 65px;
  font-family: "Creepster", system-ui;
  font-size: 40px;
  border-radius: 15px;
  border-style: none;
  color: #00609d;
  letter-spacing: 2px;
  transition: all ease 0.5s;
  background-color: transparent;
}
#characterBtn:hover {
  background-color: #3dc5f1;
  color: white;
}

.navImg {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center;
  border: 2px solid lightblue;
  background-color: #3dc5f1;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  box-shadow: 3px 3px 15px #1111118f;
}
.navImg img {
  width: 100%;
  height: auto;
}
.front-div {
  width: 100%;
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dae8e6;
}
.front-items {
  max-width: 1200px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.front-h2 {
  font-size: 30px;
  font-weight: 400;
  color: #00609d;
  font-family: "Creepster", system-ui;
  
}

.front-h2 span {
  color: #057283;
}
.front-h1 {
  font-size: 120px;
  color: #11b0c8;
  cursor: pointer;
  transition: all ease 0.5s;
  animation: heart 0.4s infinite alternate;
  transform-origin: center;
}
@keyframes heart {
  to {
    transform: scale(1.05);
    color: #57a2e5;
  }
}

.front-h1 span {
  font-size: 60px;
}
.front-h3 {
  font-family: "Creepster", system-ui;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 3px;
  text-align: right;
  color: #00609d;
}
.front-h3 span {
  letter-spacing: 2px;
  font-size: 30px;
  font-family: "Eater", serif;
  font-weight: 500;
  color: #057283;
}


.lastitems {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3b857e;
  position: fixed;
  bottom: 0;
  align-self: flex-end;
  z-index: 1000;
}
p.last-p {
  font-size: 20px;
  font-family: "Eater", serif;
  letter-spacing: 3px;
}
p.last-p span {
  color: red;
  font-size: 25px;
  animation: beat 0.25s infinite alternate;
  transform-origin: center;
}
@keyframes beat {
  to {
    transform: scale(1.2);
    color: rgb(248, 75, 104);
  }
}
